html,body { height: 100%; margin: 0;}
#earthScene{
    position: relative;
    height: 100%;
    background-image: url('./assets/bg.png');
    background-size: cover;
    overflow: hidden;
    z-index: 0;
}
#cursor-country{
    position: absolute;
    z-index: 3;
    opacity: 0;
    width: 62px;
    height: 62px;
    top: 0;
    left: 0;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
}
#earthCanvas{
    padding: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
#UnitedKingdom{
    transition: all 0.75s ease-in-out;
    top: 5%;
    left: 15%;
}
#UnitedKingdom.selected{
    top: -2%;
    left: 8%;
}
#Thailand{
    transition: all 0.75s ease-in-out;
    top: 38%;
    left: 7%;
}
#Thailand.selected{
    top: 25%;
    left: 2%;
}
#Philippines{
    transition: all 0.75s ease-in-out;
    top: 70%;
    left: 15%;
}
#Philippines.selected{
    top: 57%;
    left: 6%;
}
#China{
    transition: all 0.75s ease-in-out;
    top: 15%;
    right: 16%;
}
#China.selected{
    top: 7%;
    right: 14%;
}
#Indonesia{
    transition: all 0.75s ease-in-out;
    top: 50%;
    right: 10%
}
#Indonesia.selected{
    top: 50%;
    right: 15%
}
.country-item{
    position: absolute;
    color: #fff;
    z-index: 2;
}
.country-item__wrapper{
    transition: all 0.75s ease-in-out;
    padding: 0;
    width: 120%;
    position: relative;
}
.united-kingdom-bg::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15%;
    right: -5%;
    background-image: url('./assets/Countries/UnitedKingdomBg.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.75s ease-in-out;
    z-index: -1;
}
.thailannd-bg::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15%;
    right: -5%;
    background-image: url('./assets/Countries/ThailandBg.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.75s ease-in-out;
    z-index: -1;
}
.philippines-bg::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15%;
    right: -5%;
    background-image: url('./assets/Countries/PhilippinesBg.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.75s ease-in-out;
    z-index: -1;
}
.china-bg::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15%;
    right: -5%;
    background-image: url('./assets/Countries/ChinaBg.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.75s ease-in-out;
    z-index: -1;
}
.indonesia-bg::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15%;
    right: -5%;
    background-image: url('./assets/Countries/IndonesiaBg.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.75s ease-in-out;
    z-index: -1;
}
.country-item.selected .united-kingdom-bg::after,
.country-item.selected .thailannd-bg::after,
.country-item.selected .philippines-bg::after,
.country-item.selected .china-bg::after,
.country-item.selected .indonesia-bg::after{
    background-image: url('./assets/Countries/selected.png');
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    z-index: -1;
}
.selected .country-item__wrapper{
    padding: 10%;
    width: 200%;
}
.country-item__hero{
    margin: auto;
    transition: all 0.75s ease-in-out;
    transform: translateX(9%);
}
#UnitedKingdom .country-item__hero{
   transform: translateX(3%);
}
.country-item__header{
    display: flex;
    align-items: center;
    z-index: 2;
    cursor: pointer;
}
.country-img{
    width: 62px;
    height: 62px;
}
.country-item__description{
    transition: all 0.75s ease-in-out;
    transform: scaleY(0);
    transform-origin: top;
}
.country-item__line{
    margin: 0;
    margin-bottom: 25px;
    padding-left: 3%;
}
.country-item__line span{
    margin-right: 5px;
}
.selected .country-item__description{
    transform: scaleY(1);
}
.country-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
}
.country-text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
}
@media screen and (max-width: 1366px) {
    .country-title{
        font-size: 24px;
    }
    .country-text{
        font-size: 16px;
        line-height: 22px;
    }
    .country-item__line{
        margin-bottom: 20px;
    }
    .country-img{
        width: 42px;
        height: 42px;
    }
    .country-item__line span{
        margin-right: 20px;
    }
}
@media screen and (max-width: 1024px) {
    .country-title{
        font-size: 20px;
    }
    .country-text{
        font-size: 16px;
        line-height: 22px;
    }
    .country-item__line{
        margin-bottom: 20px;
    }
    .country-img{
        width: 32px;
        height: 32px;
    }
    .country-item__line span{
        margin-right: 15px;
    }
    .country-item__wrapper{
        width: 105%;
    }
    #UnitedKingdom{
        top: 10%;
        left: 12%;
    }
    #UnitedKingdom.selected{
        top: 1%;
        left: 4%;
    }
    #Thailand{
        top: 37%;
        left: 7%;
    }
    #Thailand.selected{
        top: 25%;
        left: 0%;
    }
    #Philippines{
        top: 70%;
        left: 15%;
    }
    #Philippines.selected{
        top: 57%;
        left: 2%;
    }
    #China{
        top: 17%;
        right: 12%;
    }
    #China.selected{
        top: 7%;
        right: 12%;
    }
    #Indonesia{
        top: 50%;
        right: 6%
    }
    #Indonesia.selected{
        top: 50%;
        right: 11%
    }
}
@media screen and (max-width: 768px) {
    .country-item__wrapper{
        width: 100%;
    }
    .country-item__hero{
        transform: translateX(2%);
    }
    #UnitedKingdom .country-item__hero{
        transform: translateX(0%);
     }
    .country-title{
        font-size: 16px;
    }
    .country-text{
        font-size: 14px;
        line-height: 14px;
    }
    .country-item__line{
        margin-bottom: 10px;
    }
    .selected .country-item__description{
        transform: scaleY(1);
    }
    .country-img{
        width: 28px;
        height: 28px;
    }
    .country-item__line span{
        margin-right: 10px;
    }
}
@media screen and (max-width: 600px) {
    #earthCanvas{
        top: 5%;
        left: auto;
        right: 0;
        transform: translateY(0%);
    }
    #UnitedKingdom{
        top: 10%;
        left: 12%;
    }
    #UnitedKingdom.selected{
        top: 0%;
        left: 3%;
    }
    #Thailand{
        top: 25%;
        left: 7%;
    }
    #Thailand.selected{
        top: 17%;
        left: 1%;
    }
    #Philippines{
        top: 40%;
        left: 15%;
    }
    #Philippines.selected{
        top: 36%;
        left: 12%;
    }
    #China{
        top: 56%;
        right: 10%;
    }
    #China.selected{
        top: 56%;
        right: 20%;
    }
    #Indonesia{
        top: 62%;
        right: auto;
        left: 12%;
    }
    #Indonesia.selected{
        top: 50%;
        right: auto;
        left: 6%;
    }
}
@media screen and (max-width: 500px) {
    #UnitedKingdom{
        top: 8%;
        left: 10%;
    }
    #UnitedKingdom.selected{
        top: -1%;
        left: 3%;
    }
    .country-item__hero{
        transform: translateX(0%);
    }
    .selected .country-item__wrapper{
        padding: 15%;
    }
}
@media screen and (max-width: 425px) {
    #Philippines{
        top: 40%;
        left: 15%;
    }
    #Philippines.selected{
        top: 36%;
        left: 5%;
    }
    #China{
        top: 53%;
        right: 5%;
    }
    #China.selected{
        top: 50%;
        right: 14%;
    }
    #Indonesia{
        top: 62%;
        right: auto;
        left: 6%;
    }
    #Indonesia.selected{
        top: 55%;
        right: auto;
        left: 1%;
    }
}
@media screen and (max-width: 360px) {
    .country-title{
        font-size: 12px;
        line-height: 14px;
    }
    .country-text{
        font-size: 12px;
    }
    .country-item__line{
        margin-bottom: 8px;
    }
    .country-img{
        width: 22px;
        height: 22px;
    }
    #UnitedKingdom .country-item__wrapper{
        width: 105%;
    }
    .country-item__wrapper{
        width: 70%;
    }
}