html,body { height: 100%; margin: 0;}
#earthScene{
    position: relative;
    height: 100%;
    background-image: url('./assets/bg.png');
    background-size: cover;
    overflow: hidden;
}
#earthCanvas{
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
#UnitedKingdom{
    top: 2%;
    left: 15%;
}
#Thailand{
    top: 30%;
    left: 7%;
}
#Philippines{
    top: 60%;
    left: 15%;
}
#China{
    top: 10%;
    right: 25%;
}
#Indonesia{
    top: 45%;
    right: 20%
}
.country-item{
    position: absolute;
    color: #fff;
}
.country-item__hero{
    padding-left: 5%;
    min-width: 110%;
    transition: all 0.75s ease-in-out;
}
.selected .country-item__hero{
    padding: 10%;
    min-width: 160%;
    transition: all 0.75s ease-in-out;
}
.united-kingdom-bg{
    background-image: url('./assets/Countries/UnitedKingdomBg.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.china-bg{
    background-image: url('./assets/Countries/ChinaBg.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.philippines-bg{
    background-image: url('./assets/Countries/PhilippinesBg.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.thailannd-bg{
    background-image: url('./assets/Countries/ThailandBg.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.indonesia-bg{
    background-image: url('./assets/Countries/IndonesiaBg.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.country-item.selected .united-kingdom-bg,
.country-item.selected .china-bg,
.country-item.selected .philippines-bg,
.country-item.selected .thailannd-bg,
.country-item.selected .indonesia-bg{
    background-image: url('./assets/Countries/selected.png');
}

#UnitedKingdom .selected.country-item__hero{
    padding: 15%;
    min-width: 130%;
}
.country-item__header{
    display: flex;
    align-items: center;
}
.country-item__header img{
    width: 62px;
    height: 62px;
}
.country-item__description{
    padding-left: 3%;
    transition: all 0.75s ease-in-out;
    transform: scaleY(0);
    transform-origin: top;
}
.country-item__line{
    margin: 0;
    margin-bottom: 25px;
    padding-left: 3%;
}
.country-item__line span{
    margin-right: 5px;
}
.selected .country-item__description{
    transform: scaleY(1);
}
.country-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
}
.country-text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
}
@media screen and (max-width: 1366px) {
    .country-title{
        font-size: 24px;
    }
    .country-text{
        font-size: 16px;
        line-height: 22px;
    }
    .country-item__line{
        margin-bottom: 20px;
    }
    .country-item__header img{
        width: 42px;
        height: 42px;
    }
    .country-item__line span{
        margin-right: 20px;
    }
}
@media screen and (max-width: 1024px) {
    .country-title{
        font-size: 20px;
    }
    .country-text{
        font-size: 16px;
        line-height: 22px;
    }
    .country-item__line{
        margin-bottom: 20px;
    }
    #UnitedKingdom{
        top: 2%;
        left: 12%;
    }
    #Thailand{
        top: 30%;
        left: 1%;
    }
    #Philippines{
        top: 62%;
        left: 10%;
    }
    #China{
        top: 10%;
        right: 23%;
    }
    #Indonesia{
        top: 45%;
        right: 15%
    }
    .country-item__header img{
        width: 32px;
        height: 32px;
    }
    .country-item__line span{
        margin-right: 15px;
    }
}
@media screen and (max-width: 768px) {
    .country-title{
        font-size: 16px;
    }
    .country-text{
        font-size: 14px;
        line-height: 14px;
    }
    .country-item__line{
        margin-bottom: 10px;
    }
    #UnitedKingdom{
        top: 18%;
        left: 5%;
    }
    #Thailand{
        top: 40%;
        left: 2%;
    }
    #Philippines{
        top: 60%;
        left: 10%;
    }
    #China{
        top: 25%;
        right: 14%;
    }
    #Indonesia{
        top: 48%;
        right: 11%;
    }
    .country-item__hero{
        padding: 15%;
        min-width: 120%;
    }
    .country-item__header img{
        width: 28px;
        height: 28px;
    }
    .country-item__line span{
        margin-right: 10px;
    }
}
@media screen and (max-width: 600px) {
    #earthCanvas{
        top: 5%;
        left: auto;
        right: 0;
        transform: translateY(0%) translateX(0%);
    }
    #UnitedKingdom{
        top: 0%;
        left: 10%;
    }
    #Thailand{
        top: 22%;
        left: 2%;
    }
    #Philippines{
        top: 38%;
        left: 10%;
    }
    #China{
        top: 44%;
        right: 14%;
    }
    #Indonesia{
        top: 55%;
        right: auto;
        left: 8%;
    }
    .country-item__hero{
        padding: 2%;
    }
}
@media screen and (max-width: 360px) {
    .country-title{
        font-size: 12px;
        line-height: 14px;
    }
    .country-text{
        font-size: 12px;
    }
    .country-item__line{
        margin-bottom: 8px;
    }
    .country-item__header img{
        width: 22px;
        height: 22px;
    }
}